[submodule "jaxvis"]
	path = jaxvis
	url = https://github.com/aminehd/jaxvis.git
	branch = main
[submodule "formula-a-day"]
	path = formula-a-day
	url = https://github.com/aminehd/formula-a-day.git
	branch = main
[submodule "fad-site"]
	path = fad-site
	url = https://github.com/aminehd/fad-site.git
	branch = main
